# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\001_GPA冲冲冲\003数理逻辑导论\第七次作业——经典命题演算之证明论\计算机辅助证明探索\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
